player-connection-mode=Listen
player-connection-guid=3583745933
player-connection-debug=0
player-connection-project-name=Capstone
player-connection-ip=192.168.0.4
player-connection-ip=172.21.64.1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=4f02cce9675345b780ee3eaaf5a9d108
