player-connection-mode=Listen
player-connection-guid=584809840
player-connection-debug=0
player-connection-project-name=Capstone
player-connection-ip=192.168.0.4
player-connection-ip=172.29.224.1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=296553792f9b407cb24ecccb23a7d963
