player-connection-mode=Listen
player-connection-guid=2438136509
player-connection-debug=0
player-connection-project-name=Capstone
player-connection-ip=192.168.0.4
player-connection-ip=172.18.144.1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=3b2e3913dc6144d5a63f21df89bbeb17
